.clock{ width:350px; height:120px; border:1px solid #eee; background:#f8f8f8; margin:0 auto; font-size:28px; text-align:center; padding-top:30px; border-radius:10px;}
.clock span{ display:inline-block; width:60px; background:#fff; text-align:center; margin:0 10px; border-radius:5px; border:1px solid #ddd; color:#8ec100}
.clock input{ width:100px; height:36px;}
